@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background-color: aliceblue;
}
.fullbody
{
    margin-left: 10%;
    margin-right: 10%;
    /* height: 100vh; */
    box-shadow: 0 0 15px black;
    display: flex;
    flex-direction: column;
}
#navbar
{
    width: 79vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 10px;
    background-color: #ddaa11;
}
.heading
{
    width: 40vw;
}
.heading h1
{
    position: relative;
    font-family: 'Lora', serif;
    /* letter-spacing: 1px; */
    left: 15%;
    
}
.heading a
{
    text-decoration: none;
    color: #000000;
}
.nav
{
    width: 40vw;
    padding-top: 1.5px;
    display: flex;
    justify-content: space-evenly;
}
.nav a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}
.body1
{
    height: 103vh;
    width: 79vw;
    margin-top: 3.2%;
    background-image: url(./cricket2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* position: fixed; */
}
/* .body1 img
{
    width: 79vw;
    height: 90vh;
    display: block;
} */
/*.box
{
    width: 30vw;
    height: 13vh; 
    border: 2px solid;
    position:absolute;
    top: 10vh;
    left: 26vw;
    background-color: black;
    opacity: 0.6;
    box-shadow: 0 0 10px rgb(99, 96, 96) ;
    
} */
.box
{
    width: 30vw;
    margin-left: 25.5vw;
    margin-top: 45vh;
}
.box p
{
    padding: 15px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 0 0 20px 15px rgb(0, 0, 0);
}
.data
{
    height: 140vh;
    background-color: rgb(73, 166, 248);
}
.gallery
{
    margin-top: 8.5vh;
    margin-left: 35.5vw;
    background-color: rgb(0, 0, 0);
    display:inline-block;
}
.gallery h1
{
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    padding: 10px;
    font-family: 'Lora', serif;
}
.box1
{
    width: 70vw;
    height: 45vh;
    margin-left: 4.5vw;
    margin-top: 8vh;
    display: flex;
    /* background-color: aliceblue; */
    box-shadow: 0 0 15px black;
}
.trapezoid1 
{
    /* border-bottom: 44.5vh solid #555;
	border-right: 15vh solid transparent; */
	width: 35vw;
    background-image:url(./1869680.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid;
    /* box-shadow: 0 0 10px black; */
}
.trapezoid2
{
    /* border-top: 44.5vh solid rgb(0, 0, 0);
	border-left: 15vh solid transparent; */
	width: 35vw;
    background-color: rgba(255, 255, 255, 0.76);
    border: 1px solid;
    /* box-shadow: 0 0 20px black; */
}
.trapezoid2 h3
{
    text-align: center;
    margin-top: 3vh;
    
}
.line1
{
    margin-top: 1.2vh;
    margin-left: 10vw;
    width: 15vw;
    border-bottom: 2px dashed;
}
.trapezoid2 p
{
    text-align: justify;
    width: 30vw;
    margin-left: 2.5vw;
    margin-top: 2vh;
    font-size: 16px;
}
.btn
{
    margin-left: 14vh;
    margin-top: 0.5vh;
}
input
{
    padding: 5px;
}
.box2
{
    width: 70vw;
    height: 45vh;
    margin-left: 4.5vw;
    margin-top: 14vh;
    display: flex;
    /* background-color: aliceblue; */
    box-shadow: 0 0 15px black;
}
.trapezoid3
{
    width: 35vw;
    height: 45vh;
    background-image:url(./cricket4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid;
}
.trapezoid4
{
	width: 35vw;
    background-color: rgba(255, 255, 255, 0.76);
    border: 1px solid;
}
.trapezoid4 h3
{
    text-align: center;
    margin-top: 3vh;
    
}
.line2
{
    margin-top: 1.2vh;
    margin-left: 10vw;
    width: 15vw;
    border-bottom: 2px dashed;
}
.trapezoid4 p
{
    text-align: justify;
    width: 30vw;
    margin-left: 2.5vw;
    margin-top: 2vh;
    font-size: 17px;
}
#Contact
{
    background-color: aliceblue;
    height: 95vh;
    width: 79vw;
}
.h12 
{
    width: 79vw;
}
.h12 h1
{
   /* padding: 20px;*/
    margin-left: 36.5vw;
    margin-top: 8vh;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 0.5px;
}
.contact
{
    margin-left: 23vw;
    margin-top: 5vh;
}
.form1
{
    width: 35vw;
    padding: 20px;
    box-shadow: 0px 0px 20px #000000;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
}
.form-group
{
    width: 35vh;
    margin-top: 16px;
    font-size: 20px;
}
.form-group input,
.form-group textarea
{
    width: 32vw;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}
textarea
{
    resize: vertical;
}
button[type="submit"]
{
    width: 63.5vh;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 26px;
    border-radius: 8px;
    font-family: montserrat;
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: #16181748;
    transition: .3s ease background-color;
}
.Contact2
{
    width: 35vw;
    padding: 20px;
    box-shadow: 0px 0px 20px #000000;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
}
#About
{
    height: 80vh;
    background-color: rgb(223, 220, 220);
    
}
#About h1
{
    text-align: center;
    font-weight: bolder;
    margin-top: 5vh;
    font-size: 30px;
    color: rgb(25, 129, 219);
    
}
.aboutbox
{
    height: 10vh;
}
.aboutimg
{
    background-image: url(./cricket6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 2vw;
    margin-top: 4vh;
    width: 45vw;
    height: 60vh;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
.par2
{
    width: 26vw;
    height: 50vh;
    margin-top: -55vh;
    margin-right: 4vw;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    float: right;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 500px;
}
.par2 p
{
    text-align: center;
    padding: 15px;
    font-size: 25px;
    margin-top: 5vh;
    color: aliceblue;
}

.foot
{
    height: 6vh;
    background-color: rgb(0, 0, 0);
}
.footer
{
    width: 79vw;
    position: absolute;
}
.footer p
{
    text-align: center;
    position: relative;
    font-weight: bolder;
    top: 12px; 
    color: rgb(255, 255, 255);
}
.icon img
{
    width: 6vw;
    height: 10vh;
    margin-left: 81.5vw;
    margin-top: -8vh;
}